[submodule "src/rmw_cyclonedds"]
	path = src/rmw_cyclonedds
	url = https://github.com/ros2/rmw_cyclonedds
	branch = foxy
[submodule "src/cyclonedds"]
	path = src/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
	branch = releases/0.10.x
[submodule "src/unitree_g1_dex3_stack"]
	path = src/unitree_g1_dex3_stack
	url = https://github.com/kael53/unitree_g1_dex3_stack.git
[submodule "src/bbox_ex_msgs"]
	path = src/bbox_ex_msgs
	url = https://github.com/Ar-Ray-code/bbox_ex_msgs.git
[submodule "src/YOLOX-ROS"]
	path = src/YOLOX-ROS
	url = https://github.com/Ar-Ray-code/YOLOX-ROS.git
	branch = main
